<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BusinessForm</title>
</head>
<body>
  <h2>Submit A New Business</h2>

<form action="/open_now/new-business/" method="post">
    {% csrf_token %}
<div class="form-group-column">
  <label for="business_name" class="form-label">Business Name:</label><br>
  <input type="text" class="form-control" id="business_name" name="business_name"><br>
  <label for="description" class="form-label">Description</label><br>
  <input type="text" class="form-control" id="description" name="description">
<p></p>
    <button type="submit" class="btn btn-primary" value="submit">Submit!</button>

</div>
</form>

</body>
</html>