{% extends "open_now/base.html" %}
{% load static %}
{% block page-title %}
Homepage - OpenNow
{% endblock page-title %}

{% block top-header %}
    You've reached the OpenNow homepage.
{% endblock top-header %}

{% block p-lead %}
    This site is still in development.<strong> Check back later to explore local businesses.</strong><br>Verify that the account information below, if shown, is correct.
{% endblock p-lead %}

{% block upper-body %}
    {% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        If you are seeing this, your Google Account is authenticated as <strong>{{user.username}}</strong>!
    </div>

    {% else %}
    <div class="alert alert-info" role="alert">
        If you are seeing this, your Google Account is not authenticated, and you are viewing this site as a <strong>guest</strong>.
    </div>
    {% endif %}
{% endblock upper-body %}

{% block body %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum nibh, iaculis fermentum risus non, facilisis euismod orci. Cras feugiat augue aliquet, rhoncus sapien ut, placerat metus. Curabitur euismod tincidunt felis eget eleifend. Cras gravida nisi in mauris consequat mollis. Sed tellus nisi, fermentum commodo dui in, tincidunt bibendum sem. Quisque pulvinar, nisi vitae porta eleifend, turpis dolor sagittis lacus, in scelerisque tellus elit id enim. Mauris ac iaculis nisi. Nulla facilisi. Pellentesque a tortor eu arcu dapibus tristique. Sed sagittis bibendum ante, et placerat elit posuere tempus. Vivamus rhoncus, tellus in bibendum lacinia, nisi leo facilisis quam, vitae maximus leo nunc et leo. Phasellus varius felis mattis lorem varius, ac placerat est scelerisque.

Donec posuere faucibus risus, sit amet laoreet purus lacinia in. Nulla et suscipit nulla. Etiam dignissim faucibus ex non convallis. Nulla in libero nec mauris finibus convallis. Curabitur hendrerit, dolor et pharetra ullamcorper, nisi lectus vehicula velit, sed semper massa diam quis sapien. Morbi lorem libero, auctor eu molestie et, rutrum ac dui. Phasellus finibus tellus ut condimentum cursus.
{% endblock body %}