{% extends "open_now/base.html" %}
{% load static %}
{% block page-title %}
Homepage - OpenNow
{% endblock page-title %}

{% block header-no-div %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            {% if user.is_authenticated %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                If you are seeing this, your Google Account is authenticated as <strong>{{user.username}}</strong>!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% else %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                If you are seeing this, your Google Account is not authenticated, and you are viewing this site as a <strong>guest</strong>.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <h1 class="display-4 fw-bold lh-1 mb-3">Welcome to OpenNow.</h1>
            <p class="col-lg-10 fs-4">You've reached Charlottesville and Albemarle County's premier site for exploring new and improved small businesses in the post-COVID era.</p>
            <p class="col-lg-10 fs-4"><strong>What's new? What's changed? Let's get started!</strong></p>

        </div>
        <div class="col-10 mx-auto col-lg-5">
            <form class="p-5 border rounded-3 bg-light">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                <hr class="my-4">
                <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
            </form>
        </div>
    </div>
</div>
{% endblock header-no-div %}

{% block top-header %}

    You've reached the OpenNow homepage.
{% endblock top-header %}

{% block p-lead %}
    This site is still in development.<strong> Check back later to explore local businesses.</strong><br>Verify that the account information below, if shown, is correct.
{% endblock p-lead %}

{% block upper-body %}
    {% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        If you are seeing this, your Google Account is authenticated as <strong>{{user.username}}</strong>!
    </div>

    {% else %}
    <div class="alert alert-info" role="alert">
        If you are seeing this, your Google Account is not authenticated, and you are viewing this site as a <strong>guest</strong>.
    </div>
    {% endif %}
{% endblock upper-body %}

{% block body %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum nibh, iaculis fermentum risus non, facilisis euismod orci. Cras feugiat augue aliquet, rhoncus sapien ut, placerat metus. Curabitur euismod tincidunt felis eget eleifend. Cras gravida nisi in mauris consequat mollis. Sed tellus nisi, fermentum commodo dui in, tincidunt bibendum sem. Quisque pulvinar, nisi vitae porta eleifend, turpis dolor sagittis lacus, in scelerisque tellus elit id enim. Mauris ac iaculis nisi. Nulla facilisi. Pellentesque a tortor eu arcu dapibus tristique. Sed sagittis bibendum ante, et placerat elit posuere tempus. Vivamus rhoncus, tellus in bibendum lacinia, nisi leo facilisis quam, vitae maximus leo nunc et leo. Phasellus varius felis mattis lorem varius, ac placerat est scelerisque.

Donec posuere faucibus risus, sit amet laoreet purus lacinia in. Nulla et suscipit nulla. Etiam dignissim faucibus ex non convallis. Nulla in libero nec mauris finibus convallis. Curabitur hendrerit, dolor et pharetra ullamcorper, nisi lectus vehicula velit, sed semper massa diam quis sapien. Morbi lorem libero, auctor eu molestie et, rutrum ac dui. Phasellus finibus tellus ut condimentum cursus.
{% endblock body %}