{% extends "open_now/base.html" %}

{% block top-header %}
    You've reached the OpenNow homepage.
{% endblock top-header %}

{% block p-lead %}
    This site is still in development.<strong> Check back later to explore local businesses.</strong><br>Verify that the account information below, if shown, is correct.
{% endblock p-lead %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        If you are seeing this, your Google Account is authenticated as <strong>{{user.username}}</strong>!
    </div>

    {% else %}
    <div class="alert alert-info" role="alert">
        If you are seeing this, your Google Account is not authenticated, and you are viewing this site as a <strong>guest</strong>.
    </div>
    {% endif %}
{% endblock content %}