{% extends "open_now/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page-title %}
Submit a Reply - OpenNow
{% endblock page-title %}

{% block top-header %}
Submit a Discussion Post{% endblock top-header %}

{% block p-lead %}
Ask a question or share a thought to the OpenNow community forum!
{% endblock p-lead %}

{% block upper-body %}
{% endblock upper-body %}

{% block body %}
<form action="{% url 'open_now:new_forum'%}" method="post" class="row g-3">
    {% csrf_token %}
    {{ form | crispy}}
    <div class="col-12">
        <a class="btn btn-primary" href="{% url 'open_now:forums' %}" role="button">Cancel</a>
        <input type="submit" class="btn btn-success" value="Submit">
    </div>
</form>
{% endblock body %}

{% block body-non-para %}
{% endblock body-non-para %}