{% extends "open_now/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page-title %}
Submit a Reply - OpenNow
{% endblock page-title %}

{% block top-header %}
Submit a Reply{% endblock top-header %}

{% block p-lead %}
Reply to a discussion post on the OpenNow forum!
{% endblock p-lead %}

{% block upper-body %}
<div class="alert alert-info" role="alert">
    Currently replying to the forum post: "<strong>{{f.topic}}</strong>"
</div>
<strong>Description:</strong> {{f.description}}
{% endblock upper-body %}

{% block body %}
<h5>Reply text:</h5>
<form action="{% url 'open_now:new_discussion'%}" method="POST" class="row g-3">
    {% csrf_token %}
    <input type="hidden" class="form-control" id="forum" name="forum" value={{f.id}}>
    <div class="col-12">
        <input type="text" class="form-control" id="discuss" name="discuss">
    </div>
    <div class="col-12">
        <a class="btn btn-primary" href="{% url 'open_now:forums' %}"" role="button">Cancel</a>
        <input type="submit" class="btn btn-success" value="Submit">
    </div>
</form>
<form action="{% url 'open_now:new_discussion'%}" method="post" class="row g-3">
    {% csrf_token %}
    {{ form | crispy}}
    <!--<div class="col-12">
        {{form | crispy}}
    </div>
    <div class="col-12">
        <a class="btn btn-primary" href="{% url 'open_now:forums' %}"" role="button">Cancel</a>
        <button type="submit" class="btn btn-success">Submit New Post</button>
    </div>-->
</form>
{% endblock body %}

{% block body-non-para %}
{% endblock body-non-para %}